*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.title {
    text-align: center;
    margin: 1rem auto;
}

.box {
    max-width: 500px;
    position: relative;
    margin: auto;
}

.box img {
    display: block;
    width: 100%;
}

.btn {
    display: inline-block;
    text-decoration: none;
    background: #454545;
    color: #fff;
    padding: 0.5rem 1.2rem;
    margin-top: 0.8rem;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    font-size: 20px;
    background: #232323;
}

.box-content {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    opacity: 0;
    z-index: 2;
    transition: all 0.5s ease-in-out;
}

.box-content h3 {
    font-size: 25px;
}

.box:hover .box-content {
    opacity: 1;
    left: 50%;
}

.box::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.493);
    z-index: 1;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.box:hover::after {
    opacity: 1;
}